@import "tailwindcss";

@theme {
  --color-primary: #f4831f;
  --color-secondary: #1d66b9;
  --color-muted: #656c7b;
  --color-foreground: #f5f7fa;
}

@layer components {
  .btn {
    @apply cursor-pointer transition duration-300 ease-in-out;
  }

  .transition-effect {
    @apply transition duration-300 ease-in-out;
  }

  .glass {
    @apply bg-white/30 backdrop-blur-sm border-b border-white/10 shadow-sm;
  }
  .section-wrapper {
    @apply mx-auto w-full xl:max-w-7xl px-4 py-20 md:px-8 scroll-mt-8;
  }
}

html {
  scroll-behavior: smooth;
}
