@import "tailwindcss";

@theme {
  --color-primary: #f4831f;
  --color-secondary: #1d66b9;
  --color-muted: #7c706a;
}

@layer components {
  .btn {
    @apply cursor-pointer transition duration-300 ease-in-out;
  }

  .transition-effect {
    @apply transition duration-300 ease-in-out;
  }

  .glass {
    @apply bg-white/30 backdrop-blur-sm border-b border-white/10 shadow-sm;
  }
}
